ul {
    list-style-type: none;
    mrgin: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    background-color: #671e75;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}